<h1>Pagina Personal</h1>
@model Personal

@Html.LabelFor(c=>c.name, "Firstname: ") @Model.name
<br>
@Html.LabelFor(m=>m.lastname, "Last Name: ") @Model.lastname
<br>
@Html.LabelFor(m=>m.age, "Age: ") @Model.age
<br>
@Html.LabelFor(m=>m.Gmail, "Gmail: ") @Model.Gmail
<br>
@Html.LabelFor(m=>m.Mobile, "Mobile: ") @Model.Mobile
<br>
@Html.LabelFor(m=>m.Direction, "Direccion: ") @Model.Direction